{{- if .Values.configs.enabled }}
{{- $configname := include "deploy.name" . }}
{{- $label := include "service.labels.standard" . }}
{{- range $file := .Values.configs.list }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ print $configname "-" $file.name | replace "." "-" }}
  labels:
{{- $label | indent 4 }}
data:
  {{ $file.name }}: |
{{ $.Files.Get (printf "configs/%s" $file.name) | indent 4 }}
---
{{- end }}
{{- end }}
