{{- if .Values.ingress.enabled }}
{{- $servicePort := .Values.service.port }}
{{- $path := .Values.ingress.path }}
{{- $svcname := .Chart.Name  }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "deploy.name" . }}
  labels:
    {{ include "service.labels.standard" . | indent 4 }}
    {{- range $key, $value := .Values.ingress.labels }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
  annotations:
    {{ include "service.annotations.standard" . | indent 4 }}
    {{- range $key, $value := .Values.ingress.annotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- if .Values.ingress.tls.enabled }}
  tls:
    - hosts:
        {{- range $host := .Values.ingress.tls.hosts }}
        - {{ $host | quote }}
        {{- end }}
      secretName: {{ .Values.ingress.tls.secrets | quote }}
  {{- end }}
  rules:
    {{- range $host := .Values.ingress.hosts }}
    - host: {{ $host }}
      http:
        paths:
          - path: {{ $path }}
            pathType: Prefix
            backend:
              service:
                name: {{ $svcname }}
                port:
                  number: {{ $servicePort }}
    {{- end }}
{{- end }}
